<body>
	<h2> Quiz </h2>

	<form action="/rezultat-chestionar" method="POST">
		<% for(var i=0; i<intrebari.length; ++i) { %> 
			<p><%= intrebari[i].intrebare %></p> 
			<% var c=0; %>
			<% for(var j=0 in intrebari[i].variante) { %>
					<input type="radio" name="question<%= i %>" value="<%= c++ %>"/>
					<label for="question<%= i %>"><%= intrebari[i].variante[j] %></label> <br/>
				<% } %> 
			<br>
			<input type="text" name="answer<%= i %>" value="<%= intrebari[i].corect %>" hidden readonly></input>
		<% } %>

			<button id ="btn" type="submit">Send</button><br><br>
	</form>
</body>