<body>
<div class="the-quiz">
	<form action="/rezultat-chestionar" method="POST">
		
			<% for(var i=0; i<intrebari.length; ++i) { %> 
		<div class="question-in-quiz">
				<p><b><%= intrebari[i].intrebare %></b></p> 
		</div>
			<% var c=0; %>
		<div class="variante-in-quiz">
			<% for(var j=0 in intrebari[i].variante) { %>
						<input id="var" type="radio" name="question<%= i %>" value="<%= c++ %>"/>
						<label id="var" for="question<%= i %>"><%= intrebari[i].variante[j] %></label> <br/>
					<% } %> 
				<br>
				<input type="text" name="answer<%= i %>" value="<%= intrebari[i].corect %>" hidden readonly></input>
		</div>

		<% } %>
				
		<div class="btn">
			<button class="btn-quiz" type="submit">SEND</button><br><br>
		</div>
	</form>
</div>
</body>