<form>
    <h2>The result of the quiz</h2>
    <h2 style="color:red">Correct answers: <%= correctAnswers %> from <%= all %></h2><br>
    <% for(var i=0; i<intrebari.length; ++i) { %> 
        <p><%= intrebari[i].intrebare %></p> 
        <% var c=0; %>
        <% for(var j=0 in intrebari[i].variante){ %>
                <input type="radio" name="question<%= i %>" value="<%= c++ %>"/>
                <label for="question<%= i %>"><%= intrebari[i].variante[j] %></label> 
                <br>
        <% }%>
        <label>Correct answer: </label>
        <input type="text" name="answer<%= i %>" value="<%= intrebari[i].variante[intrebari[i].corect] %>" readonly></input>
        <br><br>
    <% } %>
</form>